*
{
    border: 10px;
}

CD
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: royalblue;
    color: white;
}

info
{
    display: flex;
    border: 1px solid white;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    justify-content: center;
    margin-bottom: 10px;
}

artista
{
    color: orange;
}

portada
{
    width: 200px;
    height: 200px;
    background-image: url(./portada.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 100px;
}

sec
{
    display: flex;
    flex-direction: column;
    align-items: end;
}

datos
{
    display: flex;
    flex-direction: column;
    align-items: start;
}

tracklist
{
    display: flex;
    flex-direction: column;
}

cancion
{
    margin: 2px;
}

cancion:nth-child(odd)
{
    background-color: rgb(35, 82, 223);
}